@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

.font{
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
}
.bg-main{
    background: #235787;
}
.text-main{
    color: #235787;
}
.btn-main{
    background-color: #1a4870;
    color: rgb(253, 253, 253);
}
.btn-main:hover{
    background-color:#38668f ;
    color: rgb(253, 253, 253);

}
