<div
  class="container-fluid bg-body-secondary p-2 d-flex flex-column justify-content-start align-items-center"
  style="min-height: 6.2rem"
>
  <div class="container my-3 bg-light">
    <div class="title p-4 border-bottom">
      <!-- قم بادخال الرقم القومي المراد الاستعلام عنه -->
    </div>
    <div class="form border-bottom p-4">
      <input
        [(ngModel)]="studentId"
        class="form-control form-control-lg"
        type="text"
        placeholder="**********3030"
        placeholder="enter id From 1 to 12"
        aria-label=".form-control-lg example"
        (keydown.enter)="ask()"
      />
      <button (click)="ask()" type="button" class="btn btn-primary mt-3">
        استعلام
      </button>
    </div>
    <div
      class="result border-bottom p-4 d-flex justify-content-center align-items-center flex-wrap"
      style="min-height: 300px"
    >

    
<div class="w-100">
    <div #no class="alert alert-danger text-center w-75" role="alert">
        هذا الطالب غير مسجل بالنظام
      </div>

      <div #yes class="alert alert-success text-center w-75" role="alert">
        تم قبول الطلب برجاء التوجه للكلية لأستكمال الاجراءات
      </div>

      <div #pending class="alert alert-warning text-center w-75" role="alert">
        الطلب قيد المراجعة برجاء الانتظار
      </div>
</div>

        @if(userid)
        {
            <app-user [id]="userid" [email]="useremail" [name]="username" [img]="userimg"></app-user>
        }
        @else {
  @for (item of list; track $index) {
          <div class="col-md-3 m-2">
                <app-user [id]="item.id" [email]="item.email" [name]="item.first_name +' '+ item.last_name" [img]="item.avatar"></app-user>
              </div>
              }
  @for (item of list2; track $index) {
          <div class="col-md-3 m-2">
                <app-user [id]="item.id" [email]="item.email" [name]="item.first_name +' '+ item.last_name" [img]="item.avatar"></app-user>
              </div>
              }
            }

        </div>
        

    
      
    </div>
  </div>
