<div
  class="container-fluid bg-body-secondary mt-5 pt-5 d-flex flex-column justify-content-start align-items-center"
  
>
  <div class="container my-3 bg-light rounded-4">
    <div class="title p-4 border-bottom ">
      <p class="text-center fw-bold mb-5 h4 font">الاستـعـلام عـن القـبول في المـدن الجـامعيه </p>

       <p class="fs-4 fw-medium  font"> قـم بادخال الـرقم الـقومي المـراد الاستـعـلام عنه لعام 2024-2025  </p>  
    </div>
    <div class="form font border-bottom  p-4">
      <input
        [(ngModel)]="studentId"
        class="form-control form-control-lg "
        type="text"
        placeholder="الرقـم الـقومـي"
        aria-label=".form-control-lg example"
        (input)="checkvalidty()"
        (keydown.enter)="ask()"
        maxlength="14"
      />
      @if (!isvalid) {
        <button (click)="rules()" type="button" class="btn btn-secondary px-5 mt-3 " data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover">
          استـعـلام
        </button>
      }
      @else {
        <button (click)="ask()" type="button" class="btn btn-main px-5 mt-3">
        اسـتعـلام
      </button>
    }
    <div [class.d-none]="hiderule" [class.alert-success]="isvalid" [class.alert-info]="!isvalid" class="alert mt-4" role="alert">
      <h3>القواعد</h3>
      <hr>
      <div>
      <span class="ms-2"><i class="fa-solid fa-circle-chevron-left"></i></span>
      <span>الرقم القومي يجب ان يكون بالانجليزية (123...)</span>
    </div>
      <div class="mt-1">
        <span class="ms-2"><i class="fa-solid fa-circle-chevron-left"></i></span>
      <span>الرقم القومي يجب ان يكون 14 رقم</span>
      </div>
      
      
    </div>
    </div>
    <div
      class="result border-bottom p-4 d-flex justify-content-center align-items-center flex-wrap"
      style="min-height: 300px"
    >

    
    <div #no class="alert alert-danger text-center w-75" role="alert">
      @if(!isRejectd){
        هذا الرقم غير مسجل بالنظام
      }
      @else{
       <h6>{{userN}}</h6> 
        <h3> قد تم رفض الطلب</h3> 
      }
      </div>

      <div #yes class="alert alert-success text-center w-75" role="alert">
        <h6>{{userN}}</h6>
        <h3>تم قبول الطلب </h3>
      </div>

      <div #pending class="alert alert-warning text-center w-75" role="alert">
        <h6>{{userN}}</h6>
        <h3>
          لم يستدل عليه
        </h3>
      </div>

      <div #cstm class="alert alert-light text-center w-75" role="alert">
        <h6>{{userN}}</h6>
        <h3>
          {{alertmsg}}
        </h3>
      </div>

        </div>
        

    
      
    </div>
    <div class="font">
      <p class=" fw-medium text-main">     <span class="text-danger mx-1">  جميع الحقوق محفوظة  <i class="fa-solid fa-copyright"></i>   </span>  لمركز الحساب العلمي   <span class="px-2">ـ</span>جامعة حلوان </p>

    </div>
  </div>
